# config.py.example

THINGSBOARD_URL = "http://your-tb-url"
TB_USERNAME     = "your-username"
TB_PASSWORD     = "your-password"

GEMINI_API_KEY  = "your-gemini-api-key"
MCP_SERVER_URL  = "http://your-mcp-server-url"

# Agent Selection
AGENT_TYPE = "ollama" # Options: "gemini", "ollama"

# Ollama Config
OLLAMA_BASE_URL = "http://your-ollama-url"
OLLAMA_MODEL = "qwen2.5:7b"
